<div class="card border-info testimonial-card">
  <div class="card-header">
    <div *ngIf="testimony.score == 5">
      <i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i>
    </div>
    <div *ngIf="testimony.score == 4.5">
      <i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-half-line"></i>
    </div>
    <div *ngIf="testimony.score == 4">
      <i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-line"></i>
    </div>
    <div *ngIf="testimony.score == 3.5">
      <i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-half-line"></i><i class="ri-star-line"></i>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{testimony.title}}</h5>
    <p class="card-text">{{testimony.prg}}</p>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-3"><img class="user-img rounded-circle" src="{{testimony.img}}" alt=""></div>
      <div class="col-9">
        <strong>{{testimony.name}}</strong><br>
        <span>{{testimony.job}}</span>
      </div>
    </div>
  </div>
</div>
