<div class="card border-info testimonial-card"
  *ngFor="let item of testimonials">
  <div class="card-header">
    <i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">{{item.prg}}</p>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-3"><img class="user-img rounded-circle" src="{{item.img}}" alt=""></div>
      <div class="col-9">
        <strong>{{item.name}}</strong><br>
        <span>{{item.job}}</span>
      </div>
    </div>
  </div>
</div>
