<div class="container animate__animated animate__fadeIn">

  <div class="row">
    <div class="col text-center">
      <h3>Importancia del Mantenimiento</h3>
      <p>
        El servicio técnico desempeña un papel fundamental en el rendimiento y la vida útil de las impresoras RICOH. Nuestro compromiso con la excelencia técnica asegura que sus impresoras funcionen de manera óptima, lo que significa impresiones de alta calidad, menor tiempo de inactividad y un flujo de trabajo eficiente. En un mundo donde la impresión es esencial para muchas empresas, nuestro servicio técnico confiable y de alta calidad es la clave para mantener sus operaciones en marcha sin problemas.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Nuestra Experiencia</h3>
      <p>Nuetros técnicos especializados cuentan con más de 20 años de experiencia en los distintos problemas que presentan las impresoras RICOH por lo que estamos capacitados para ofrecer una rápida solución ante cualquier daño o desperfecto de las mismas.</p>
    </div>
    <div class="col">
      <img src="" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="" alt="">
    </div>
    <div class="col">
      <h3>Garantía de Calidad</h3>
      <p>Respaldamos nuestros servicios técnicos con una garantía de satisfacción del cliente del 100%. Si no está satisfecho con nuestro trabajo, haremos lo necesario para solucionarlo.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Tiempos de Respuesta</h3>
      <p>Nos comprometemos a responder a las solicitudes de servicio técnico en un plazo máximo de 24 horas laborables.</p>
    </div>
    <div class="col">
      <img src="" alt="">
    </div>
  </div>

  <div class="row text-center">
    <h3>Testimonios y Reseñas</h3>
    <p>Tenemos la totalidad de la confianza de nuestros clientes y puede verificarlo usted mismo en esta sección.</p>
  </div>
  <app-testimonial-carousel></app-testimonial-carousel>


</div>
