<div class="bg-light-subtle">
  <div class="container-fluid">
    <div class="footer">
      <div class="row text-white">
        <div class="col-md-6 col-sm-12 col-xs-12 mb-3"><br>
          <h4 class="medium">CONTACTO</h4><br>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <address>
                <span class="medium">DIRECCIÓN</span><br>
                <p class="light">
                  Calicuchima y Sta. Elena<br>
                  Guayaquil - Ecuador
                </p>
              </address>
            </li>
            <li class="nav-item mb-2">
              <address>
                <span class="medium">TELÉFONOS</span><br>
                <i class="ri-whatsapp-line"></i><span class="light"> 099 - 411 - 5076<br></span>
                <i class="ri-whatsapp-line"></i><span class="light"> 099 - 127 - 2948<br></span>
                <span><i class="ri-phone-fill"></i> 504 - 8853<br></span>
              </address>
            </li>
            <li class="nav-item mb-2">
              <address>
                <span class="medium">EMAIL</span><br>
                <a class="light" href="mailto:bacsupp@gmail.com">bacsupp@gmail.com</a>
              </address>
            </li>
            <li class="nav-item mb-2">
              <address>
                <span class="medium">REDES SOCIALES</span><br>
                <ul class="logos list-unstyled d-flex">
                  <li class="ms-1"><a class="whatsapp"><i class="ri-whatsapp-line"></i></a></li>
                  <li class="ms-1"><a class="instagram"><i class="ri-instagram-line"></i></a></li>
                  <li class="ms-1"><a class="mail" href="mailto:bacsupp@gmail.com"><i class="ri-mail-line"></i></a></li>
                  <li class="ms-1"><a class="tiktok"><i class="ri-tiktok-fill"></i></a></li>
                  <li class="ms-1"><a class="youtube"><i class="ri-youtube-fill"></i></a></li>
                </ul>
              </address>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 mb-3">
          <br>
          <h4 class="medium">UBICACIÓN</h4><br>
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2370.6128103274536!2d-79.90841455484293!3d-2.199200206044215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMsKwMTInMDAuMCJTIDc5wrA1NCczMS42Ilc!5e0!3m2!1ses-419!2sec!4v1696216053495!5m2!1ses-419!2sec" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="row portfolio">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top text-white">
          <p class="light">© 2023 Diseñado y Desarrollado por Billy Alvear. Todos los derechos reservados.</p>
          <a href="https://github.com/blilllly" class="github"><i class="ri-github-fill"></i></a>
        </div>
      </div>
    </div>

  </div>

  <!-- <div class="container pt-3 pb-5 mt-4">
    <hr>
    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="col-md-8 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 BAC SUPPORT, Todos los derechos reservados.</span>
      </div>
      <ul class="nav logos col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-1"><a class="whatsapp" href="#"><i class="ri-whatsapp-line"></i></a></li>
        <li class="ms-1"><a class="instagram" href="#"><i class="ri-instagram-line"></i></a></li>
        <li class="ms-1"><a class="mail" href="mailto:bacsupp@gmail.com"><i class="ri-mail-line"></i></a></li>
        <li class="ms-1"><a class="tiktok" href="#"><i class="ri-tiktok-fill"></i></a></li>
        <li class="ms-1"><a class="youtube" href="#"><i class="ri-youtube-fill"></i></a></li>
      </ul>
    </div>
  </div> -->
</div>
